body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #e8f4fc;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  z-index:9999;
}

nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a{
  text-decoration: none;
  color: #0b1f27;
}

.container {
  margin-top: 5vh;
  background-color: #ffffff;
  width: 65%;
  padding: 5vh;
}

.blog_container {
  margin-top: 1vh;
  background-color: #ffffff;
}

.section_title {
  color: #0b1f27;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 30px;
}

hr {
  margin-bottom: 27px;
}

.main_container {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 11vh;
  background-color: #012738e8;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 6vh;
  transition: 0.2s ease-in-out;
}

.brand a {
  text-decoration: none;
}

.brand h2 {
  color: #ffffff;
  margin-left: 2vh;
}

.menu {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: #ffffff;
  transition: 0.2s ease-in-out;
}

.menu a:hover {
  background-color: rgb(136, 134, 134);
  box-shadow: 0 0 1rem 0 white;
  transition: 0.2s ease-in-out;
}

.menu a img:hover {
  border-radius: 50%;
  box-shadow: 0 0 1rem 0 white;
}

.active_authors {
  margin-bottom: 30px;
}

.active_autor {
  height: 10px;
  width: 10px;
  background-color: rgb(98, 163, 0);
  border-radius: 50%;
  border: 1px solid white;
  margin: auto 1vh;
}

.inactive_users {
  display: flex;
  align-items: center;
}

.inactive {
  height: 10px;
  width: 10px;
  background-color: rgb(129, 129, 129);
  border-radius: 50%;
  border: 1px solid white;
  margin: auto 0.5vh;
}

.authors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}

.author {
  display: flex;
  align-items: center;
}

.author img {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
}

.name {
  margin-left: 2vh;
  font-size: 1.2rem;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3vh;
}

.blog {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;  
  border-radius: 10px;
}

.blog .thumbnail img {
  width: 25vh;
  transition: 0.4s ease-in-out;
}

.blog:hover {
  background-color: rgb(235, 235, 235);
  transition: 0.4s ease-in-out;
}

.blog_title {
  font-size: 20px;
}

.blog_author {
  font-size: 16px;
  color: #9f9f9f;
}

.blog_author a {
  text-decoration: none;
  color: #0080f8;
}

.course {
  padding: 4vh 3vh;
  margin: 5px;
  width: 32vh;
  min-height: 34vh;
  border-radius: 20px;
  box-shadow: 0.1rem 0.5rem 1rem rgba(177, 176, 176, 0.411);
}

.course img {
  width: 25vh;
  height:15vh;
  border-radius: 15px;
}

.course:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.course_title {
  min-height: 10vh;
  font-size: 1.3rem;
  margin-bottom: 13px;
}

.course_author {
  color: #ed6b4f;
  margin-bottom: 20px;
}

.course_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 20px;
  color: #a30417;
  background-color: #fad0d6;
}

.fa-star {
  font-size: 12px;
}

.fa-star.filled {
  color: #ffc014;
}

.fa-star.empty {
  color: #aeaeae;
}

.fa-clock {
  font-size: 20px;
  margin-right: 5px;
}

footer {
  width: 100%;
  height: 20vh;
  background-color: #0b1f27;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

